Binaries
DerivedDataCache
Intermediate
Saved
**/FirstPerson/
**/FirstPersonCPP/
**/Geometry/
**/ParagonShinbi/
**/StarterContent/
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*_BuiltData.uasset